@import '../../../styles/settings.scss';

.spForm{
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;

    .header{
        margin-bottom: 20px;
    }
    .imgesContainer{
        display: flex;
        margin-bottom: 20px;
        .mainImgContainer{
            flex: 50%;
            margin-right: 20px;
            .imgContainer{
                width: 100%;
            }
        }
        .otherImgContainer{
            flex: 50%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            .imgContainer{
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .description{
        margin-bottom: 20px;
    }

    .addToCartContainer{
        .totalPrice{
            .price{
                font-size: 1.5*$base-size;
            }
        }
        .quantityContainer{
            margin-bottom: 10px;
            display: flex;
            .quantity{
                font-size: 1.5*$base-size;
                display: block;
            }
        }
    }
}