@import '../../../styles/settings.scss';

.order{

    .list{
        flex-direction: column;
    }
    .totalPrice{
        display: flex;
        justify-content: center;
        font-weight: 700;
        margin-bottom: 10px;
    }
    form{

        .formGroup{
            margin: 5px;
            display: flex;
            justify-content: center;
            label{
                margin-right: 5px;
                width: 90px;
            }
            input{
                border-radius: $radius;
            }
        }
    }
    .btnContainer{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}